@import url(//fonts.googleapis.com/css?family=Roboto);
@import url(//fonts.googleapis.com/css?family=Playfair+Display:100,300,400,500,600,900);

body {
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(24, 24, 27);
  line-height: 1.5;
  margin: 0;
}

body {
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ez-header, .site-footer {
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

main {
  display: flow-root;
  margin: 0 auto;
  /* max-width: 960px; */
  /* padding: 1rem; */
}

.ez-component.right {
  margin-left: 1rem;
}

ul {
  list-style-position: inside;
}

.section-1 {
  display: flow-root;
}

ez-header {
  height: 74px;
  background-color: #444444;
}
ez-header ul {
  display: none;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 1rem;
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-auto-rows: 1fr;
  row-gap: 4rem;
  column-gap: 3rem;
}

.section-1 {
  margin: 1rem 2rem;
}

.cards.wrapper {
  margin-top: 0
}

.cards.wrapper>section {
  padding: 0
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr 0px;
  padding: 0;
  font-family: Roboto;
  /*
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: #32325d40 0 6px 12px -2px,#0000004d 0 3px 7px -3px
  */
}

.card p {
  border: none
}

.card > img {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card > a {
  grid-area: 2 / 1 / 3 / 2;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 1.3rem .5rem .2rem;
  text-decoration: none;
  color: #0164b9;
}

.card > a:hover {
  text-decoration: underline;
}

.card > ul {
  grid-area: 3 / 1 / 4 / 2;
  list-style: none;
  padding: .4rem .5rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  max-height: 260px;
  overflow-y: scroll
}

.card > p {
  grid-area: 4 / 1 / 5 / 2;
  align-self: flex-start;
  min-height: 110px;
  line-height: 1.4;
  font-size: .9em;
  padding: .5rem .5rem 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 0 0 .5rem;
  -webkit-line-clamp: 12
}

.clamp5 {
  -webkit-line-clamp: 5
}

